{% extends "core/base.html" %}

{% block title %}{% if creating %}Book appointment{% else %}Reschedule appointment{% endif %}{% endblock %}
{% block content %}
      <h1>{% if creating %}Book appointment{% else %}Reschedule appointment{% endif %}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if creating %}Book appointment{% else %}Save schedule{% endif %}</button>
      </form>
      <p><a href="{% url 'appointment_list' %}">Cancel</a></p>
{% endblock %}